* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #282a36;
    color: white;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.profile-pic {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.logout {
    color: #ff5555;
    text-decoration: none;
}

.banner {
    text-align: center;
    margin: 15px 0;
    background-color: #ffc857;
    padding: 10px;
    border-radius: 5px;
}

.search-bar {
    text-align: center;
    margin: 10px;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: white;
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 25%;
    height: auto;
    border-radius: 5px;
}

.product button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282a36;
    color: white;
    padding: 10px 0;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.cart-count {
    background-color: #ff5555;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.8em;
}
